*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(213,226,236);
background: linear-gradient(90deg, rgba(213,226,236,1) 0%, rgba(205,217,224,1) 33%, rgba(191,200,204,1) 100%);
}
header{
    background-color:  #040c1f;
    padding: 24px;
    text-align: center;
}
header nav a{
    color: white;
    text-decoration: none;
}
#search-bar{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 4px;
    margin: 8px;
    align-items: center;
    /* flex-wrap: wrap; @330 */  /*media query at 310!-->*/
}
#search-bar--input{
    width: 300px;
    height: 32px;
    border: 1px solid #040c1f;
    border-radius: 4px;
    padding-left: 8px;
    overflow:hidden;
}
.button{
    width: 100px;
    height: 28px;
    background-color: #040c1f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding:0px 4px;
}
#sorting{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 4px 12px;
}
.button--light{
    background-color:#273352;
}
.button--extra-width{
    width: 220px;
}
#select{
    display: flex;
    justify-content:baseline; 
    margin: 32px 60px;
    gap: 12px;
    /* flex-wrap: wrap; */
}
.button--extra-height{
    height: 32px;
}
.active-tab{
    background-color:#040c1f;
}
#movie-list {
    display: flex;
    gap: 16px 4px;
    justify-content: center;
    flex-wrap: wrap;
}
.movies-card{
    box-shadow: 0px 0px 40px 0px grey;
    margin: 4px 8px;
    width: 250px;
    height: 400px;
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.movies-card:hover{
    scale: 1.06;
    transition: 0.5s;
    
}
.movies-card::-webkit-scrollbar{
    display: none;
}
.poster{
    width: 250px;
    height: 220px;
    text-align: center;
    font-size: large;
    line-height: 220px;
}
.movie-poster{
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.movie-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 4px 4px;
    font-weight: 600;
    
}
.movie-card--footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 16px;
}
.fav-movie{
    font-size: 30px;
    cursor: pointer;
}
.fa-solid{
    color: rgb(169, 38, 38);
    scale: 1.06;
    transition: 0.4s;
}

#page{
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 32px 12px;
}
.page-footer{
    background-color:  #040c1f;
    text-align:center ;
    padding: 12px;
}
#rights{
    color: white;
}
